.pie {
	position: relative;
	width: 140px;
	height: 140px;
	line-height: 140px;
	border-radius:50%;
	text-align: center;
	background-color:#f0f0f0;
	background-image: linear-gradient(to right, transparent 50%, yellowgreen 0);
	overflow: hidden;
}
.pie > span {
	display: block;
	border-radius: 50%;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
  height: 90%;
  background-color: #fff;
}
.pie div{
	position:absolute;
	top:0;
	width:50%;
	height:100%;
  left:50%;
  background-color: inherit;
	transform-origin: center left;
}
#roaterMore50 {
  left: 0;
  right: 50%;
  transform-origin: center right;
}
.pieMore50 {
  background-color: yellowgreen;
	background-image: linear-gradient(to left, transparent 50%, #f0f0f0 0);
}