.sandGlass {
  margin: 20px;
  height: 200px;
  width: 100px;

  /* background: 
    linear-gradient(to bottom, gray  37px, greenyellow  37px, gray 163px, gray 163px, greenyellow 163px); */
}
.sandGlass div {
  height: 0;
  width: 0;
  border-top: 100px solid transparent;
  border-left: 50px solid #fff;
  border-right: 50px solid #fff; 
  border-bottom: 100px solid transparent;
}