/* pop-up1 */
/* 下面这个是设置登录页面，是否出现 */
.pop-up1 {
  position: fixed;
  /* top: 200px;
  left: 320px; */
  width: 859px;
  height: 340px;
  /*background: -webkit-linear-gradient(top,#21DEEF,#21DEEF);*/
  background: #fff;
  z-index: 999;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
  transform: translate(320px, 50px);
  border: 1px solid red;
}

.pop-up1 h1 {
  text-align: center;
  color: #21DEEF;
}

#login2 {
  width: 100%;
}
 
#login2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
#login2 input {
  width: 298px;
  height: 43px;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: 10px;
  font-size: 13px;
  /*outline: none;*/
  border: 1px solid gray;
}

.checkbox-lab {
  display: inline-block;
  font-size: 14px;
  margin: 20px 23px 0 0;
}
#login2 .checkbox {
  display: inline-block;
  width: 57px;
  height: 17px;
  margin: 0;
}

.login, .register, .close-it {
  display: inline-block;
  width: 108px;
  line-height: 30px;
  border: 1px dotted #fff;
  border-radius: 5px;
  margin: 45px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: 1s;
  color: #fff;
  background: #21DEEF;
}


.login:hover, .register:hover, .close-it:hover {
  border: 1px dotted red;
}

.close-it {
  position: absolute;
  top: 0;
  right: 0;
}
/* //pop-up1 */



/* pop-up2 */
/* 下面这个是设置注册页面，是否出现 */
.pop-up2 {
  position: fixed;
  /* top: 175px;
  left: 320px; */
  width: 859px;
  height: 530px;
  /*background: -webkit-linear-gradient(top,#21DEEF,#21DEEF);*/
  background: #fff;
  z-index: 999;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
  transform: translate(320px, 0);
  border: 1px solid red;
}

.pop-up2 h1 {
  text-align: center;
  color: #21DEEF;
}

#register2 {
  position: relative;
  width: 100%;
}
 
#register2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
#register2 input {
  width: 298px;
  height: 43px;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: 10px;
  font-size: 13px;
  outline: none;
  border: 1px solid gray;
}

/* 下面这个是设置注册页面，错误消息的那个span */
#register2 em {
  position: absolute;
  color: red;
  transition: 1s;
}
.base-box2 {
  margin-bottom: 10px;
}
.sex-box2 {
/*  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}
.sex-box2 button,.sec-drop-box2 {
  width: 100px;
  line-height: 1.42857143;
  font-weight: 400;
  padding: 3px 20px;
}
.sec-drop-box2 {
  left: 44%;
}
.user-wrg {
  top: 33px;
  right: 161px;
}
.psd-wrg {
  top: 160px;
  right: 121px;
}
.email-wrg {
  top: 225px;
  right: 140px;
}
/* pop-up2 */


/* 用户信息模块 */
.user2 {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.user-inf {
  display: flex;
  justify-content: space-between;
}

/* 头像模块 */
.user-pic {
  height: 500px;
  flex: 0 1 20%;
  padding-left: 21px;
  border: 1px dotted #21DEEF;
}
.user-pic img {
  border-radius: 50%;
  cursor: pointer;
}
.change-inf {
  display: inline-block;
  padding: 8px 20px;
  margin: 200px 0 0 42px;
  background: #21DEEF;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#user-pho {
  display: none;
}
/* //头像模块 */

/* 个人信息模块 */
.user-basi-inf {
  flex-grow: 1;
  border: 1px dotted #21DEEF;
}
.user-box, .psd-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.user-box label {
  position: absolute;
  font-size: 13px;
  font-weight: 500;
}
.user-box label:nth-of-type(1) {
  top: 31%;
  left: 7%;
}
.user-box label:nth-of-type(2) {
  top: 53%;
  left: 12%;
}
.user-box label:nth-of-type(3) {
  top: 75%;
  left: 14%;
}
.base-box {
  margin-bottom: 10px;
}
.sex-box button,.sec-drop-box {
  width: 100px;
  line-height: 1.42857143;
  font-weight: 400;
  padding: 3px 20px;
}
/*.user-box label:nth-of-type(4) {
  top: 91%;
  left: 13%;
}*/
/*.base-box {
  display: flex;
  height: 500px;
  flex-direction: column;
  overflow: hidden;
}*/
#register2 .per-email-wrg{
  /*display: none;*/
  /*display: inline;*/
}
.per-email-wrg {
  top: 54%;
  right: 4%;
}
/* //个人信息模块 */

/* 密码修改模块 */
.change-psd {
  flex: 0 1 40%;
  border: 1px dotted #21DEEF;
}
#register2 .old-psd-wrg, #register2 .psd-wrg2{
  color: red;
  /*display: none;*/
  /*display: inline;*/
}
.old-psd-wrg {
  top: 95px;
  right: 26px;
}
.psd-wrg2 {
  top: 245px;
  right: 26px;
}
/* //密码修改模块 */
/* //用户信息模块 */



/* 菜品信息上传模块 */
.fod {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.fod-box {
  display: flex;
  justify-content: space-between;
}

/* 菜品上传模块 */
.fod-upload {
  height: 500px;
  flex: 0 1 20%;
  padding-left: 21px;
  border: 1px dotted #21DEEF;
}
.fod-upload img {
  border-radius: 50%;
}
.select-food {
  display: inline-block;
  padding: 8px 20px;
  margin: 100px 0 0 42px;
  background: #21DEEF;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.confirm-upload-all {
  display: inline-block;
  padding: 8px 20px;
  margin: 100px 0 0 42px;
  background: #21DEEF;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#food {
  display: none;
}
/* //菜品上传模块 */

/* 菜品首页模块 */
.fod-poster-upload {
  overflow: hidden;
  height: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #21DEEF;
}
.fod-poster-upload img {
  border-radius: 50%;
}
.select-poster {
  display: inline-block;
  padding: 8px 20px;
  margin: 200px 0 0 42px;
  background: #21DEEF;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#food-poster {
  display: none;
}
.file-inf {
  width: 100%;
  overflow: hidden;
  /*transform: translate(0,76px);*/
}
.file-inf span {
  padding-left: 20px;
}
/* 菜品首页模块 */

/* 菜品信息修改模块 */
.fod-inf-change {
  flex: 0 1 40%;
  border: 1px dotted #21DEEF;
}
.fod-change {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.fod-change input {
  width: 298px;
  height: 43px;
  margin-left: 20px;
  margin-top: 20px;
  text-indent: 10px;
  font-size: 13px;
  outline: none;
  border: 1px solid gray;
}
.fod-change em {
  display: inline-block;
  margin-top: 20px;
  color: red; 
}
.my-pro {
  transform: scale(0.9) translate(0,200px);
}
/* //菜品信息修改模块 */
/* //菜品信息上传模块 */





.thr-btn {
  position: absolute;
  top: 90%;
  left: 50%;
}
.thr-btn li:nth-of-type(1) {
  margin-left: -165px;
  margin-right: 130px;
}

/* 评论管理模块 */
.com-mag-box {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.com-inf-mag{
  height: 468px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dotted #21DEEF;
}
.com-list {
  position: relative;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
}
.com-list span {
  position: absolute;
  top: 0;
  right: 20px;
  color: #21DEEF;
}
/* //评论管理模块 */



/* 菜品管理模块 */
.fod-mag-box {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.fod-inf-mag{
  height: 468px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dotted #21DEEF;
}
.fod-list {
  position: relative;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
}
.fod-list a {
  padding-left: 35%;
}
.fod-list span {
  position: absolute;
  top: 0;
  right: 20px;
  color: #21DEEF;
}
.fod-list .fod-type {
  width: 20%;
  left: 0;
}
/* //菜品管理模块 */

/* 用户管理模块 */
.user-mag-box {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.user-inf-mag{
  height: 468px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dotted #21DEEF;
}
.user-list {
  position: relative;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
}
/* //用户管理模块 */

/* 订单管理模块 */
.order-mag-box {
  padding: 1em 0 0 0;
  margin: 0 auto;
  width: 83%;
  height: 530px;
  background: #fff;
}
.order-inf-mag{
  height: 445px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px dotted #21DEEF;
}
.order-list {
  position: relative;
  width: 100%;
  font-weight: bold;
  overflow: scroll;
}
.order-list span {
  position: absolute;
  top: 0;
  right: 20px;
  color: #21DEEF;
}
.pos-loc {
  position: relative;
  padding: 0;
}
.pos-loc div:nth-of-type(1) {
  padding: 17px 15px;
}
.state-btn {
  position: absolute;
  right: 0;
  top: 23px;
  width: 100px;
}
.state-btn button,.state-btn2 {
  width: 100px;
  line-height: 1.42857143;
  font-weight: 400;
  padding: 3px 20px;
}
.state-btn2 {
  left: 8%;
}
.all-food {
  display: none;
}
.all-food a {
  color: #21DEEF;
}
/* //订单管理模块 */

/* 图片时钟样式 */
.clock {
  position: absolute;
  left: 18%;
  top: -2%;
}
.pic-clock{
  /* margin: 0 auto;
  margin-top: -10%; */
  overflow: hidden;
  position: relative;
  transform: scale(0.45);
}
.pic-clock ul, .pic-clock li, .pic-clock img {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 0px;
  position: relative;
}
.pic-clock ul{
  display: flex;
  justify-content: space-between;
}
/* //图片时钟样式 */
