/* user.css */
/* this is userd by login.css and register.css */


  .page {
      min-width: 1280px;
      height: 1000px;
      background: -webkit-linear-gradient(top, #e8f1f8, #88badd, #a0c7e4, #77aed7, #88badd, #5c99d0);
    }



  /* top */
  .top {
    /* 这里没有写兼容，就凑合着用吧，后来再慢慢写，难得改的很 */
    background: -webkit-linear-gradient(left, #459bd7, #afd1ea, #459bd7);
    box-shadow: 0 1px 50px #4e95cb;
  }

  .top h2 {
    line-height: 60px;
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 3px;
    text-indent: 20px;
    color: #fff;
  }



  /* content */
  .content {
    width: 100%;
    height: 60%;
    padding-top: 6%;
  }

  .content-box {
    width: 50%;
    height: 90%;
    margin: 0 auto;
    border: 3px solid #9ad3ee;
    border-radius: 15px;
    box-shadow: 0 1px 100px 10px #61a1d1;
    background: -webkit-linear-gradient(#60a0d0, #76b6dc, #7dbcdf, #8bc4e2, #8fc8e6);
  }
   
   /* content-top */
  .content-top {
    height: 10%;   
  }

  .content-top h3 {
    width: 95%;
    height: 75%;
    padding-left: 1%;
    padding-top: 1.5%;
    margin: 0 auto;
    border-bottom: 2px solid #35709c;
    box-shadow: 0 2px #8bc5ed;
    letter-spacing: 2px;
    font-size: 200%;
    color: #fffbff;
  }

  .content-top span {
    padding-left: 6px;
    letter-spacing: 2px;
    color: #bbd7ed;
  }

  /* sign-box */
  .signin-box {
    width: 65%;
    height: 60%;
    margin: 5% auto 0 auto;
    border: 2px solid #81d3ff;
    border-radius: 15px;
    box-shadow: 0 1px 50px #51a9d1,
                1px 0 50px #51a9d1;
  }

  /* signin-top */
  .signin-top {
    height: 35px;
    border-radius: 15px 15px 0 0;
    background: #fff;
    font-size: 0;
    overflow: hidden;
  }

  .lefttriangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 35px solid #d1e7f4;
    margin-left: 5px;
  }

  .righttriangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 35px solid #d1e7f4;
    border-right: 35px solid transparent;
  }




/* login.css */



  /* sign */
  .sign {
    height: 88%;
    box-shadow: 0 7px 10px #4f98cd;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #4eb6ed, #72c4f3, #96d4fb, #89cef7, #52b6f1);
  }

  .sign-form {
    position: relative;
    height: 100%;
    text-align: center;
  }

  .sign-form label {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    margin-top: 8%;
    color: #7c7f66;
  }

  .sign-form input {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 120%;
    color: #6670d5;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #f9dc3e;
  }

  .sign-form input[type="button"] {
    width: 18%;
    margin: 10% 0 0 10%;
    text-indent: 0;
    background: #56d7f7;
    color: #030f88;
  }

  .firstPoint, .secondPoint {
    position: absolute;
    filter: alpha(opacity: 0);
    opacity: 0;
    color: red;
  }

  .firstPoint {
    top: 50px;
  }

  .secondPoint {
    top: 130px;
  }








