.login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-login {
  margin-top: 8%;
}
.user-login label {
  text-shadow: 0.02106816rem 0.02106816rem 0.02106816rem #ed6868;
  font-weight: bold;
  font-size: 0.21068155rem;
  color: #845858;
}
.user-login input {
  width: 2.10681555rem;
  height: 0.31602233rem;
  border-radius: 0.52670389rem;
  margin-bottom: 0.21068155rem;
  outline: none;
  text-indent: 0.21068155rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#969191), color-stop(60%, #f8e4e4), color-stop(80%, #b6acac));
  background: linear-gradient(top, #969191, #f8e4e4 60%, #b6acac 80%);
  text-shadow: 0.02106816rem 0.02106816rem 0.02106816rem #ed6868;
  font-weight: bold;
  font-size: 0.17907932rem;
  color: #845858;
}
.user-login input:focus {
  -webkit-box-shadow: 1px 1px 1px #f8e4e4, -1px -1px 1px #f8e4e4;
          box-shadow: 1px 1px 1px #f8e4e4, -1px -1px 1px #f8e4e4;
}
.btn {
  width: 1.47477088rem;
  line-height: 0.42136311rem;
  cursor: pointer;
}
.btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 0.10534078rem;
  background: #fb4f4f;
}
.btn a:hover {
  background: red;
}
