/* register.css */

body .sign .register {
    margin-top: 5%;
}

.sign-form label {
    margin-top: 6%;
  }

.firstPoint {
    top: 43px;
  }

.secondPoint {
    top: 175px;
}





